

<div class="category">
  <div class="category_wrapper">
    <div class="category_wrapper__header">
      <app-header></app-header>

      <img src="/assets/images/main-bg.png" alt="" class="category-bg">

      <app-main-bottom-dropmenu></app-main-bottom-dropmenu>
    </div>
    <div class="category_wrapper__main">
      <div class="category_wrapper__main-breadcrumbs">
        <a href="/">Головна</a>

      </div>
      <div class="category_wrapper__main-title">
        <span>САНАТОРІЇ ТРУСКАВЦЯ</span>
      </div>

      <div class="category_wrapper__main-card">
        <div class="container-fluid">
          <div class="col-xl-3">
            <div class="category_wrapper__main-card__wrap">
              <img src="/assets/images/mirotel.png" alt="">

              <div class="category_wrapper__main-card__wrap-includes">
                <img src="/assets/images/spa-include.svg" alt="">
                <img src="/assets/images/wifi-include.svg" alt="">
                <img src="/assets/images/abc-include.svg" alt="">
                <img src="/assets/images/food-include.svg" alt="">

              </div>

              <div class="category_wrapper__main-card__wrap-bonus">
                <div class="category_wrapper__main-card__wrap-bonus__best">
                  <span>
                    Найкращі санаторії
                  </span>
                </div>
                <div class="category_wrapper__main-card__wrap-bonus__discount">
                  <span>
                    Знижка 5%
                  </span>
                </div>
                <div class="category_wrapper__main-card__wrap-bonus__termal">
                  <span>
                    Термальні джерела
                  </span>

                </div>
                <div class="category_wrapper__main-card__wrap-bonus__pool">
                  <span>
                    Санаторій з басейном
                  </span>
                </div>
                <div class="category_wrapper__main-card__wrap-bonus__spa">
                  <span>
                    SPA
                  </span>
                </div>




              </div>

              <div class="category_wrapper__main-card__wrap-information">
                <p>Міротель</p>
                <span>
                  Новий готельний комплекс Міротель (Mirotel)​ Трускавець відкрив свої двері в 2012 році
                </span>
              </div>

              <div class="category_wrapper__main-card__wrap-price">
                <span class="price">від 2160 грн</span>
                <!-- <span class="price-new">680 грн</span> -->
                <!-- <span class="old-price"><s>від 2160грн</s></span> -->
              </div>

              <span class="per-person">за 1 людину</span>

            </div>

          </div>
          <div class=" col-xl-3">
            <div class="category_wrapper__main-card__wrap">
              <img src="/assets/images/mirotel.png" alt="">

              <div class="category_wrapper__main-card__wrap-includes">
                <img src="/assets/images/spa-include.svg" alt="">
                <img src="/assets/images/wifi-include.svg" alt="">
                <img src="/assets/images/abc-include.svg" alt="">
                <img src="/assets/images/food-include.svg" alt="">

              </div>

              <div class="category_wrapper__main-card__wrap-bonus">
                <div class="category_wrapper__main-card__wrap-bonus__best">
                  <span>
                    Найкращі санаторії
                  </span>
                </div>
                <div class="category_wrapper__main-card__wrap-bonus__discount">
                  <span>
                    Знижка 5%
                  </span>
                </div>
                <div class="category_wrapper__main-card__wrap-bonus__termal">
                  <span>
                    Термальні джерела
                  </span>

                </div>
                <div class="category_wrapper__main-card__wrap-bonus__pool">
                  <span>
                    Санаторій з басейном
                  </span>
                </div>
                <div class="category_wrapper__main-card__wrap-bonus__spa">
                  <span>
                    SPA
                  </span>
                </div>




              </div>

              <div class="category_wrapper__main-card__wrap-information">
                <p>Міротель</p>
                <span>
                  Новий готельний комплекс Міротель (Mirotel)​ Трускавець відкрив свої двері в 2012 році
                </span>
              </div>

              <div class="category_wrapper__main-card__wrap-price">
                <span class="price">від 2160 грн</span>
                <!-- <span class="price-new">680 грн</span> -->
                <!-- <span class="old-price"><s>від 2160грн</s></span> -->
              </div>

              <span class="per-person">за 1 людину</span>

            </div>

          </div>
          <div class="col-xl-3 ">asdasd</div>
          <div class="col-xl-3 ">asdsad</div>
        </div>
      </div>


    </div>


    <app-footer></app-footer>
  </div>
</div>
